html {
  font-size: 80%;
  /*font-size: 62.5%;*/ /* 10(base font size) / 16(Browser Default font size) = 0.625em * 100 = 62.5% */
}

h1 {
  font-size: 2.4 rem; /* 24 / 10 = 2.4em */
}

p {
  font-size: 1.2 rem; /* 12 / 10 = 1.2em */
}

ul li {
  font-size: 1.2 rem; /* 12 / 10 = 1.2em */
}
html,
body,
.content,
#interface,
/* #logical_model, */
#document_adc {
/* #document_ads, */
/* #manage { */
  height: 100%;
  min-height: 100%;
  margin: 0;
  padding: 0;
  overflow: auto;
}
#login,
/* #about, */
#logout {
  width: 100%;
  height: 100%;
  padding: 12px;
  overflow: auto;
}
/* DnD */
[ondragover] {
  width: 200px;
  height: 200px;
  background: #5a5b5f;
}
[draggable] {
  width: 50px;
  height: 50px;
}

/*
 * tab
 */
.ui-tabs .ui-tabs-nav .ui-tabs-anchor {
  padding:0.2em 0.5em;
}

/*
 * splitter
 */
/* interface */
#left1-component {
  width: 50%;
}
#vertical1-divider {
  left: 50%;
  width: 5px;
}
#right1-component {
  left: 50%;
  margin-left: 5px;
}
#top1-component {
  bottom: 50%;
  margin-bottom: 5px;
}
#horizontal1-divider {
  bottom: 50%;
  height: 5px;
}
#bottom1-component {
  height: 50%;
}

/* document_adc */
#right-component0 {
  width: 100px;
}
#vertical-divider0 {
  right: 100px;
  width: 5px;
}
#left-component0 {
  right: 100px;
  margin-right: 5px;
}
/* document_adc */
#left-component2 {
  width: 25%;
}
#vertical-divider2 {
  left: 25%;
  width: 5px;
}
#right-component2 {
  left: 25%;
  margin-left: 5px;
}

#left-component2-a {
  width: 75%;
}
#vertical-divider2-a {
  left: 75%;
  width: 5px;
}
#right-component2-a {
  left: 75%;
  margin-left: 5px;
}

#top2-component1,
#top2-component2 {
  bottom: 40%;
  margin-bottom: 5px;
}
#top2-component3 {
  bottom: 10%;
  margin-bottom: 5px;
}
#horizontal2-divider1,
#horizontal2-divider2 {
  bottom: 40%;
  height: 5px;
}
#horizontal2-divider3 {
  bottom: 10%;
  height: 5px;
}
#bottom2-component1,
#bottom2-component2 {
  height: 40%;
}
#bottom2-component3 {
  height: 10%;
}
#open_concise {
  float: right;
}
#open_table,
#open_element2 {
  font-size: 18px;
}
#open_table:hover,
#open_element2:hover {
  color: #4169e1;
}
#open_expanded {
  float: right;
}
#open_module,
#open_expanded {
  font-size: 18px;
}
#open_module:hover,
#open_expanded:hover {
  color: #4169e1;
}

#top-component1,
#top-component2 {
  bottom: 40%;
  margin-bottom: 5px;
}
#horizontal-divider1,
#horizontal-divider2 {
  bottom: 40%;
  height: 5px;
}
#bottom-component1,
#bottom-component2 {
  height: 40%;
}
#top-component3 {
  bottom: 90%;
  margin-bottom: 5px;
}
#horizontal-divider3 {
  bottom: 10%;
  height: 5px;
}
#bottom-component3 {
  height: 10%;
}

#adc-command .ui-button {
  margin: 4px;
}

/* document-ads */
#left-component3 {
  width: 25%;
}
#vertical-divider3 {
  left: 25%;
  width: 5px;
}
#right-component3 {
  left: 25%;
  margin-left: 5px;
}

#top3-component1 {
  bottom: 60%;
  margin-bottom: 5px;
}
#horizontal3-divider1 {
  bottom: 60%;
  height: 5px;
}
#bottom3-component1 {
  height: 60%;
}

#left-component3-a {
  width: 60%;
}
#vertical-divider3-a {
  left: 60%;
  width: 5px;
}
#right-component3-a {
  left: 60%;
  margin-left: 5px;
}

/* */
.item .column_filter {
  width: 120px;
  height: 26px;
}
.item .column_filter.table_group {
  width: 140px;
}
.item .column_filter.table {
  width: 160px;
}

.heading {
  float: left;
  font-size: 1em;
  margin: 0;
  width:       100%;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-between;
  justify-content: space-between;
}
.heading span:last-of-type {
    margin-left: auto;
}
.heading .title {
  color: #4169e1;
  font-size: 1.2em;
  margin: 0;
}
.item.result .heading .title {
  color: #505050;
  font-size: 1.5em;
  margin: 0;
}
.pagelength {
  float: right;
  font-size: 0.9em;
  margin: 0;
}
.toggle {
  float: left;
  font-size: 0.9em;
  margin: 0;
}
#login h3,
#logout h3 {
  padding-bottom: 2em;
}
#login button,
#logout button {
  width: 6em;
  font-size: 1em;
  box-sizing: border-box;
  float: none;
  border: 1px solid #ccc;
  border-radius: 3px;
  background-color: #eee;
  padding: 0px;
}
#show_password {
  width: 100%!important;
}
/* #about iframe {
  display: block;
  width: 100%;
  min-width: 400px;
  height: 100%;
  min-height: 600px;
  border: 0 none;
  margin: 0 auto;
  padding: 0;
}
#manage h3 {
  margin: 1em;
}
#manage #userlist_wrapper {
  margin: 1em;
} */
.ui-tabs-nav .title {
  position: absolute;
  top: 1em;
  right: 0.5em;
  color: #ddd;
}
.item.element_mapping select {
  width: 150px;
}
/* CLEARABLE INPUT
 *  http://stackoverflow.com/questions/6258521/clear-icon-inside-input-text
 */
.clearable {
  background-color: #fff;
  background-repeat: no-repeat;
  background-position: right -10px center;
  background-image: url(data:image/gif;base64,R0lGODlhBwAHAIAAAP///5KSkiH5BAAAAAAALAAAAAAHAAcAAAIMTICmsGrIXnLxuDMLADs=);
  border: 0.1em solid #999;
  padding: 0.2em 1.1em 0.2em 0.3em; /* Use the same right padding (18) in jQ! */
  border-radius: 0.2em;
  transition: background 0.4s;
}
/* (jQ) Show icon */
.clearable.x {
  background-position: right 0.3em center;
}
/* (jQ) hover cursor style */
.clearable.onX {
  cursor: pointer;
}
/* Remove IE default X */
.clearable::-ms-clear {
  display: none;
  width: 0;
  height: 0;
}
/*
 * DataTables
 */
/*td.details-control {
  background: url('../images/details_open.png') no-repeat center center;
  cursor: pointer;
}
tr.details td.details-control {
  background: url('../images/details_close.png') no-repeat center center;
}
*/
/* DataTables */
/*table.dataTable tbody tr {
  height: 20px!important;
  line-height: 20px!important;
}*/
tr.group,
tr.group:hover {
  background-color: #ddd !important;
}
table.dataTable thead th,
table.dataTable tbody td,
table.dataTable tfoot th {
  line-height: 20px!important;
  padding: 2px 4px!important;
}
table.dataTable tbody tr.drag_over {
  border: inset;
}
table.dataTable tbody tr.drag_over td.target {
  background: #7fffd4;
}
table#adc_intrface_elmt.dataTable tbody tr,
table#adc_intrface_elmt.dataTable tbody td {
  height:  20px!important;
}
table#adc_frmt_rprstn.dataTable tbody tr,
table#adc_frmt_rprstn.dataTable tbody td {
  height:  20px!important;
}
table#adc_element.dataTable tbody tr,
table#adc_element.dataTable tbody td {
  height:  20px!important;
}
table#adc_cmon_elmt.dataTable tbody tr,
table#adc_cmon_elmt.dataTable tbody td {
  height:  20px!important;
}
table#abbrev.dataTable tbody tr,
table#abbrev.dataTable tbody td,
table#xbrlgl2.dataTable tbody tr,
table#xbrlgl2.dataTable tbody td {
  height:  20px!important;
}
.paginate_button {
  border-radius: 2em;
}
/*table.dataTable thead th,
table.dataTable thead td,
table.dataTable tfoot th,
table.dataTable tfoot td {
  padding: 3px 5px;

}*/
table.dataTable thead th,
table.dataTable thead td {
  color: #FAFAFA;
  background: #1e90ff;
}
table.dataTable tfoot th,
table.dataTable tfoot td {
  color: #1e90ff;
}
table.dataTable tbody>tr.selected,
table.dataTable tbody>tr.selected i {
  color: #fefefe;
}
.item.result table.dataTable thead th,
.item.result table.dataTable thead td {
  color: #505050;
  background: #e0e0e0;
}
.item.result table.dataTable tfoot th,
.item.result table.dataTable tfoot td {
  color: #707070;
}
button.dt-button,
div.dt-button,
a.dt-button {
  font-size: 0.8em;
  padding: 0.1em 0.2em;
  border-radius: 0.4em;
}
a.dt-button {
  color: #696969;
}
a.dt-button.create {
  color: #4169e1;
}
a.dt-button.edit {
  color: #4169e1;
}
a.dt-button.remove {
  color: #da70d6;
}
a.dt-button.reload {
  color: #696969;
}
a.dt-button.export {
  color: #696969;
}
/*
 * pdfDialog
 */
.dialogPopover {
  padding: 0;
  margin: 0;
}
.dialogPopover iframe {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

/* Allow Font Awesome Icons in lieu of jQuery UI and only apply when using a FA icon */
/*.ui-icon[class*=" fa-"] {*/
    /* Remove the jQuery UI Icon */
    /*background: none repeat scroll 0 0 transparent;*/
    /* Remove the jQuery UI Text Indent */
    /*text-indent: 0;*/
    /* Bump it up - jQuery UI is -8px */
    /*margin-top: -0.5em;*/
    /*line-height: 1em;
    width: 1em;
}*/

/* Allow use of icon-large to be properly aligned */
/*.ui-icon.icon-lg {
    margin-top: -0.75em;
}*/

/*.ui-button-icon-only .ui-icon[class*=" fa-"] {*/
    /* Bump it - jQuery UI is -8px */
    /*margin-left: -7px;
}*/
/* Date picker */
.backup .ui-state-default {
  color: #fefefe;
  background-color: #4169e1;
}
/*
td.details-control {
  background: url('../images/details_open.png') no-repeat center center;
  cursor: pointer;
}
tr.details td.details-control {
  background: url('../images/details_close.png') no-repeat center center;
}
*/
#Test {
  position: absolute;
  visibility: hidden;
  height: auto;
  width: auto;
  white-space: nowrap; /* Thanks to Herb Caudill comment */
}

tr.selectd td {
  color: #fefefe;
}

.fa {
  color: #808080;
}
.fa:hover {
  color: #1e90ff;
}